In [1]:
import pandas as pd 
path = "data.csv"
data = pd.read_csv(path)
print(data)

              User Name          Date And Time  \
0         @bravvler_aid  12/5/2023, 3:10:14 AM
1       @lilalexjij6039  12/5/2023, 3:10:16 AM
2          @antonyss322  12/5/2023, 3:10:17 AM
3           @adricio506  12/5/2023, 3:10:17 AM
4          @KILLUSALL92  12/5/2023, 3:10:17 AM
...                 ...                    ...
80495           @dlowww  12/5/2023, 3:23:28 AM
80496           @playjf  12/5/2023, 3:23:28 AM
80497      @catluminati  12/5/2023, 3:23:28 AM
80498  @ShaddiDefendLaw  12/5/2023, 3:23:28 AM
80499   @zulkarneyn9142  12/5/2023, 3:23:28 AM

                                           Comment Thumbs up
0                                              Omg       254
1                                            YOOOO         7
2                                              OMG         6
3                                         No wayâ€¦.         5
4                                          First ðŸ˜‚         5
...                                            ...       ...
80495  NGL 2025 IS OUTRAGEOUS ITLL BE WORTH IT THO       NaN
80496                         The start of legend!       NaN
80497         The last time i came this early I...         1
80498                                      FINALLY       NaN
80499                      TOMMY VERCETTI'S CITY ðŸ—¿       NaN

[80500 rows x 4 columns]

In [2]:
data.head

<bound method NDFrame.head of               User Name          Date And Time  \
0         @bravvler_aid  12/5/2023, 3:10:14 AM
1       @lilalexjij6039  12/5/2023, 3:10:16 AM
2          @antonyss322  12/5/2023, 3:10:17 AM
3           @adricio506  12/5/2023, 3:10:17 AM
4          @KILLUSALL92  12/5/2023, 3:10:17 AM
...                 ...                    ...
80495           @dlowww  12/5/2023, 3:23:28 AM
80496           @playjf  12/5/2023, 3:23:28 AM
80497      @catluminati  12/5/2023, 3:23:28 AM
80498  @ShaddiDefendLaw  12/5/2023, 3:23:28 AM
80499   @zulkarneyn9142  12/5/2023, 3:23:28 AM

                                           Comment Thumbs up
0                                              Omg       254
1                                            YOOOO         7
2                                              OMG         6
3                                         No wayâ€¦.         5
4                                          First ðŸ˜‚         5
...                                            ...       ...
80495  NGL 2025 IS OUTRAGEOUS ITLL BE WORTH IT THO       NaN
80496                         The start of legend!       NaN
80497         The last time i came this early I...         1
80498                                      FINALLY       NaN
80499                      TOMMY VERCETTI'S CITY ðŸ—¿       NaN

[80500 rows x 4 columns]>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80500 entries, 0 to 80499
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User Name      80500 non-null  object
 1   Date And Time  80500 non-null  object
 2   Comment        80432 non-null  object
 3   Thumbs up      15910 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [4]:
classes = "dataset.csv"
a = pd.read_csv(classes)

In [5]:
a

,session,year,country,country_name,speaker,position,text
0,25,1970,ALB,Albania,Mr. NAS,NaN,33: May I first convey to our President the co...
1,25,1970,ARG,Argentina,Mr. DE PABLO PARDO,NaN,177.\t : It is a fortunate coincidence that pr...
2,25,1970,AUS,Australia,Mr. McMAHON,NaN,100.\t It is a pleasure for me to extend to y...
3,25,1970,AUT,Austria,Mr. KIRCHSCHLAEGER,NaN,155.\t May I begin by expressing to Ambassado...
4,25,1970,BEL,Belgium,Mr. HARMEL,NaN,"176. No doubt each of us, before coming up to ..."
...,...,...,...,...,...,...,...
7502,70,2015,YEM,Yemen,Mr. Abdrabuh Mansour Hadi Mansour,President,On behalf of the people and the Government of ...
7503,70,2015,YUG,Yugoslavia,Mr. Tomislav NikoliÄ‡,President,\nSeventy years have passed since the establis...
7504,70,2015,ZAF,South Africa,Jacob Zuma,President,I should like to congratulate the President an...
7505,70,2015,ZMB,Zambia,Mr. Edgar Chagwa Lungu,President,I would like to begin by thanking the Secretar...
7506,70,2015,ZWE,Zimbabwe,Robert Mugabe,President,Allow me at the outset to extend to Mr. Mogens...

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session       7507 non-null   int64
 1   year          7507 non-null   int64
 2   country       7507 non-null   object
 3   country_name  7507 non-null   object
 4   speaker       7480 non-null   object
 5   position      4502 non-null   object
 6   text          7507 non-null   object
dtypes: int64(2), object(5)
memory usage: 410.7+ KB

In [10]:
a.columns

Index(['session', 'year', 'country', 'country_name', 'speaker', 'position',
       'text'],
      dtype='object')

In [46]:
c = a['country'].unique()
for i in c:
    print(i)

# Total Number of Countries are
print("Number of Countries:",len(c))

ALB
ARG
AUS
AUT
BEL
BLR
BOL
BRA
CAN
CMR
COG
COL
CRI
CUB
DOM
DZA
ECU
FRA
GBR
GHA
GIN
GMB
GTM
HND
HTI
IDN
IND
IRN
IRQ
ISL
ISR
ITA
JPN
KEN
KHM
KWT
LBN
LBR
LBY
LKA
MAR
MDG
MEX
MMR
NLD
NOR
NZL
PAK
PER
PHL
PRY
RWA
SDN
SGP
SLE
SLV
SOM
SYR
TGO
THA
TTO
TUN
TUR
UKR
URY
USA
VEN
YUG
ZAF
ZMB
AFG
BDI
BEN
BFA
BGR
CAF
CHL
CHN
CIV
COD
CSK
CYP
EGY
ESP
ETH
FIN
FJI
GAB
GRC
GUY
HUN
IRL
JAM
JOR
LAO
LUX
MLI
MLT
MNG
MRT
MUS
MYS
NER
NGA
NIC
NPL
PAN
POL
QAT
ROU
RUS
SAU
SEN
SWE
TCD
TZA
UGA
YDYE
YEM
ARE
BHR
BRB
BTN
DNK
MWI
OMN
PRT
SWZ
BHS
DDR
DEU
LSO
BGD
BWA
GNQ
GRD
MOZ
COM
CPV
GNB
MDV
PNG
STP
SUR
AGO
SYC
WSM
VNM
DJI
DMA
VAT
LCA
VCT
ZWE
ATG
BLZ
SLB
VUT
BRN
KNA
LIE
NAM
EST
FSM
KOR
LTU
LVA
MHL
PRK
ARM
AZE
BIH
GEO
HRV
KAZ
KGZ
MDA
SMR
SVN
TJK
UZB
CZE
ERI
MCO
MKD
SVK
TKM
AND
PLW
PSE
NRU
TON
TUV
CHE
KIR
TLS
MNE
EU
SSD
Number of Countries: 199

In [49]:
d = list(c)
print(d)
len(d)
for i in d:
    print(i)

['ALB', 'ARG', 'AUS', 'AUT', 'BEL', 'BLR', 'BOL', 'BRA', 'CAN', 'CMR', 'COG', 'COL', 'CRI', 'CUB', 'DOM', 'DZA', 'ECU', 'FRA', 'GBR', 'GHA', 'GIN', 'GMB', 'GTM', 'HND', 'HTI', 'IDN', 'IND', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JPN', 'KEN', 'KHM', 'KWT', 'LBN', 'LBR', 'LBY', 'LKA', 'MAR', 'MDG', 'MEX', 'MMR', 'NLD', 'NOR', 'NZL', 'PAK', 'PER', 'PHL', 'PRY', 'RWA', 'SDN', 'SGP', 'SLE', 'SLV', 'SOM', 'SYR', 'TGO', 'THA', 'TTO', 'TUN', 'TUR', 'UKR', 'URY', 'USA', 'VEN', 'YUG', 'ZAF', 'ZMB', 'AFG', 'BDI', 'BEN', 'BFA', 'BGR', 'CAF', 'CHL', 'CHN', 'CIV', 'COD', 'CSK', 'CYP', 'EGY', 'ESP', 'ETH', 'FIN', 'FJI', 'GAB', 'GRC', 'GUY', 'HUN', 'IRL', 'JAM', 'JOR', 'LAO', 'LUX', 'MLI', 'MLT', 'MNG', 'MRT', 'MUS', 'MYS', 'NER', 'NGA', 'NIC', 'NPL', 'PAN', 'POL', 'QAT', 'ROU', 'RUS', 'SAU', 'SEN', 'SWE', 'TCD', 'TZA', 'UGA', 'YDYE', 'YEM', 'ARE', 'BHR', 'BRB', 'BTN', 'DNK', 'MWI', 'OMN', 'PRT', 'SWZ', 'BHS', 'DDR', 'DEU', 'LSO', 'BGD', 'BWA', 'GNQ', 'GRD', 'MOZ', 'COM', 'CPV', 'GNB', 'MDV', 'PNG', 'STP', 'SUR', 'AGO', 'SYC', 'WSM', 'VNM', 'DJI', 'DMA', 'VAT', 'LCA', 'VCT', 'ZWE', 'ATG', 'BLZ', 'SLB', 'VUT', 'BRN', 'KNA', 'LIE', 'NAM', 'EST', 'FSM', 'KOR', 'LTU', 'LVA', 'MHL', 'PRK', 'ARM', 'AZE', 'BIH', 'GEO', 'HRV', 'KAZ', 'KGZ', 'MDA', 'SMR', 'SVN', 'TJK', 'UZB', 'CZE', 'ERI', 'MCO', 'MKD', 'SVK', 'TKM', 'AND', 'PLW', 'PSE', 'NRU', 'TON', 'TUV', 'CHE', 'KIR', 'TLS', 'MNE', 'EU', 'SSD']

AttributeError: 'str' object has no attribute 'unique'

In [52]:
a['year'].unique()

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015])

In [59]:
# Total Number of Year from Debates

yearcount = a['year'].unique()
print("Total Number of Years:",len(yearcount))

#for i in yearcount:
    #print(len(yearcount))

Total Number of Years: 46